## 1. module import

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

# 2. 함수 정의 : 각 csv파일 -> 데이터프레임화
 - 컬럼명 변경해서 return

In [2]:
def create_data(yy, mm):
    file_path = './Data/서울특별시 공공자전거 이용정보(시간대별)_{0}.{1}.csv'.format(yy,mm)
    try:
        f = pd.read_csv(file_path, encoding='utf-8', engine='python')
        try:
            if '사용시간' in f:
                f['이동시간'] = f['사용시간']
                f = f.drop('사용시간', axis=1)
        except:
            pass
    except:
        f = pd.read_csv(file_path, encoding='cp949', engine='python')
        try:
            if '사용시간' in f:
                f['이동시간'] = f['사용시간']
                f = f.drop('사용시간', axis=1)
        except:
            pass
    df = f[['대여일자', '대여시간', '대여소번호', '대여소명', '대여구분코드', '성별', '연령대코드', '이용건수', '운동량',
       '탄소량', '이동거리', '이동시간']]
    return df

- 파일 모으기 : DF

In [3]:
DF_20 = pd.DataFrame()
year = ['20']
for y in year:
    for m in tqdm(range(1, 13)):
        try:
            mm = str(m).zfill(2)
            temp = create_data(y, mm)
            DF_20 = pd.concat([DF_20, temp], ignore_index=True)
        except:
            print('에러'+y+mm)
            pass

100%|███████████████████████| 12/12 [03:07<00:00, 15.64s/it]

In [4]:
DF_20 = DF_20[['대여일자', '대여구분코드', '성별', '이용건수', '이동거리', '이동시간']]
DF_20
DF_20.to_csv('./Data/이용정보2020(cols).csv', encoding='utf-8', index=False)

In [4]:
DF_20.to_csv('./Data/따릉이이용정보(시간대별)_2020.csv', encoding='utf-8')
DF_20

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,이동시간
0,2020-01-01,0,1044,1044. 굽은다리역,정기권,NaN,~10대,1,33.96,0.30,1280.00,6
1,2020-01-01,0,1656,1656. 중앙하이츠 아파트 입구,정기권,NaN,~10대,1,40.15,0.39,1690.00,6
2,2020-01-01,0,1337,1337. 돈암성당 옆,정기권,NaN,~10대,1,80.88,0.50,2150.00,12
3,2020-01-01,0,1984,1984. 구로구청,정기권,NaN,~10대,1,47.36,0.43,1840.00,25
4,2020-01-01,0,2601,2601. 석촌호수 서호사거리,정기권,NaN,~10대,1,29.34,0.26,1140.00,5
...,...,...,...,...,...,...,...,...,...,...,...,...
19026030,2020-12-31,23,3121,3121.가좌삼거리,일일권,M,30대,1,0.00,0.00,0.00,13
19026031,2020-12-31,23,560,560. 비전교회 앞,일일권,M,30대,1,0.00,0.00,0.00,52
19026032,2020-12-31,23,1416,1416. 상봉역 3번출구,일일권,M,30대,1,18.33,0.17,711.99,4
19026033,2020-12-31,23,1625,1625. 상계역(4번출구),일일권,M,50대,1,20.52,0.15,647.86,7
19026034,2020-12-31,23,419,419. 홈플러스 앞,단체권,NaN,20대,4,18.19,2.13,9187.95,128

In [5]:
def create_data2(yy, mm):
    file_path = './Data/서울특별시 공공자전거 이용정보(시간대별)_{0}.{1}.csv'.format(yy,mm)
    try:
        df = pd.read_csv(file_path, encoding='utf-8', engine='python')
        df.columns = ['대여일자', '대여시간', '대여소번호', '대여소명', '대여구분코드', '성별', '연령대코드', '이용건수',
       '운동량', '탄소량', '이동거리', '이동시간']
        df_c = df[['대여소번호', '대여소명']]
        df2 = df[['대여일자', '대여시간', '대여구분코드', '성별', '연령대코드', '이용건수', '운동량', '탄소량', '이동거리', '이동시간']]
    except:
        try:
            df = pd.read_csv(file_path, encoding='cp949', engine='python')
            df.columns = ['대여일자', '대여시간', '대여소번호', '대여소명', '대여구분코드', '성별', '연령대코드', '이용건수',
           '운동량', '탄소량', '이동거리', '이동시간']
            df_c = df[['대여소번호', '대여소명']]
            df2 = df[['대여일자', '대여시간', '대여구분코드', '성별', '연령대코드', '이용건수', '운동량', '탄소량', '이동거리', '이동시간']]
        except:
            try:
                df = pd.read_csv(file_path, encoding='utf-8', engine='python', delimiter='","')
                df.columns = ['대여일자', '대여시간', '대여소번호', '대여소명', '대여구분코드', '성별', '연령대코드', '이용건수',
               '운동량', '탄소량', '이동거리', '이동시간']
                df_c = df[['대여소번호', '대여소명']]
                df2 = df[['대여일자', '대여시간', '대여구분코드', '성별', '연령대코드', '이용건수', '운동량', '탄소량', '이동거리', '이동시간']]
                df2.loc[:,'대여일자'] = df2.loc[:,'대여일자'].str.replace('"', '')
                df2.loc[:,'이동시간'] = df2.loc[:,'이동시간'].str.replace('"', '')
            except:
                df = pd.read_csv(file_path, encoding='cp949', engine='python', delimiter='","')
                df.columns = ['대여일자', '대여시간', '대여소번호', '대여소명', '대여구분코드', '성별', '연령대코드', '이용건수',
               '운동량', '탄소량', '이동거리', '이동시간']
                df_c = df[['대여소번호', '대여소명']]
                df2 = df[['대여일자', '대여시간', '대여구분코드', '성별', '연령대코드', '이용건수', '운동량', '탄소량', '이동거리', '이동시간']]
                df2.loc[:,'대여일자'] = df2.loc[:,'대여일자'].str.replace('"', '')
                df2.loc[:,'이동시간'] = df2.loc[:,'이동시간'].str.replace('"', '')    
    return df2, df_c

In [6]:
DF_21 = pd.DataFrame()
year = ['21']
for y in year:
    for m in tqdm(range(1, 13)):
        try:
            mm = str(m).zfill(2)
            temp, temp_c= create_data2(y, mm)
            DF_21 = pd.concat([DF_21, temp], ignore_index=True)
        except:
            print('에러'+y+mm)
            pass

  8%|██                      | 1/12 [00:06<01:10,  6.40s/it]C:\Users\sec\AppData\Local\Temp\ipykernel_4632\1535164817.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.loc[:,'대여일자'] = df2.loc[:,'대여일자'].str.replace('"', '')
C:\Users\sec\AppData\Local\Temp\ipykernel_4632\1535164817.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.loc[:,'이동시간'] = df2.loc[:,'이동시간'].str.replace('"', '')
 17%|████                    | 2/12 [00:18<01:35,  9.51s/it]C:\Users\sec\AppData\Local\Temp\ipykernel_4632\1535164817.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.loc[:,'대여일자'] = df2.loc[:,'대여일자'].str.replace('"', '')
C:\Users\sec\AppData\Local\Temp\ipykernel_4632\1535164817.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.loc[:,'이동시간'] = df2.loc[:,'이동시간'].str.replace('"', '')
100%|███████████████████████| 12/12 [04:04<00:00, 20.40s/it]

In [7]:
DF_21 = DF_21[['대여일자', '대여구분코드', '성별', '이용건수', '이동거리', '이동시간']]
DF_21
DF_21.to_csv('./Data/이용정보2021(cols).csv', encoding='utf-8', index=False)

In [7]:
DF_21.to_csv('./Data/따릉이이용정보(시간대별)_2021.csv', encoding='utf-8')
DF_21

                대여일자  대여시간 대여구분코드   성별 연령대코드 이용건수    운동량   탄소량     이동거리 이동시간
0         2021-01-01     0    정기권  NaN  ~10대    2  28.90  0.23   992.78   13
1         2021-01-01     0    정기권  NaN  ~10대    1  34.38  0.26   1127.5   10
2         2021-01-01     0    정기권  NaN  ~10대    1   0.00  0.00      0.0    7
3         2021-01-01     0    정기권  NaN  ~10대    1  38.75  0.38  1658.34   14
4         2021-01-01     0    정기권  NaN  ~10대    1  12.96  0.17   743.88    5
...              ...   ...    ...  ...   ...  ...    ...   ...      ...  ...
23464960  2021-12-31    23    정기권    M   50대    1  22.95  0.19    840.0    4
23464961  2021-12-31    23    정기권    M   50대    1  30.20  0.21   907.98    8
23464962  2021-12-31    23    정기권    M   60대    1  64.55  0.48  2063.26   13
23464963  2021-12-31    23    정기권    M   60대    1  27.84  0.22    950.0    8
23464964  2021-12-31    23    정기권    M  70대~    1  29.80  0.23    990.0    8

[23464965 rows x 10 columns]

- 2021년 대여소정보 저장

In [8]:
temp_c

         대여소번호                      대여소명
0          953             953. 서울연신초등학교
1         1668            1668. 중계역 6번출구
2         1669            1669. 중계역 3번출구
3          280         280. 양평동6차현대아파트 앞
4         1184              1184. 마곡13단지
...        ...                       ...
1519846   4561            4561. 양평역 1번출구
1519847    815       815. LIG강촌아파트 103동앞
1519848   2173               2173. 당곡사거리
1519849   2718           2718.마곡수명산파크1단지
1519850   4620  4620. 삼각지역 14번 출구 앞(교통섬)

[1519851 rows x 2 columns]

In [9]:
temp_c.to_csv('./Data/따릉이대여소정보_2021.csv', encoding='utf-8')

In [10]:
temp_c.nunique()

대여소번호    2584
대여소명     2584
dtype: int64